<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bayes Classifier</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
    <h1>Bayes Classifier</h1>

    <div class="data-viewer">
        {% for i, row in test.iterrows() %}
            {% set evaluated_class = evals.iloc[loop.index] %}
            <span class="result-row">
                <span class="
                    {% if evaluated_class == row["class"] %}
                        correct
                    {% else %}
                        incorrect
                    {% endif %}">
                    {{ row["class"] }}
                </span>
                {{ row["words"] | join(" ")  }}
            </span><br>
        {% endfor %}
    </div>


</body>
</html>